<h1 class="mt-4">Funcionario</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item mb-4">
        Cadastro de Funcionario
    </li>
</ol>

<div class="container">
    <form #FuncionarioForm="ngForm" (ngSubmit)="onSubmit()">
        
        
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="sucess==true">
                    Funcionario salvo com sucesso!
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="error==true">
                    Erro ao tentar salvar Funcionario!
                  </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" *ngIf="funcionario.id">
                    <label for="id">ID:</label>
                    <input type="text" class="form-control" name="id" id="id" disabled=true [ngModel]="funcionario.id" >
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="funcioanrio">Nome:*</label>
                    <input type="text" class="form-control" name="nome" id="nome" [(ngModel)]="funcionario.nome">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cpf">CPF:*</label>
                    <input type="text" class="form-control" name="cpf" id="cpf" [(ngModel)]="funcionario.cpf">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="Departamento">Departamento:*</label>
                    <select class="form-control" id="departamento"  name="departamento" [(ngModel)]="funcionario.departamento">
                    
                        <option value="">Selecione ....</option>
                        <option *ngFor="let departamento of departamentos" [ngValue]="departamento">
                            {{departamento.nome}}
                        </option>      
                      </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="funcao">funcao:*</label>
                    <select class="form-control" id="funcao"  name="funcao" [(ngModel)]="funcionario.funcao">
                        <option value="">Selecione ....</option>
                        <option *ngFor="let funcao of funcoes" [ngValue]="funcao.id">{{funcao.nome}}</option>      
                      </select>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4">
                <button type="submit" class="btn btn-success">
                   <i class="fa fa-save"></i> Salvar</button>
            
            
                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListar()">
                   <i class="fa fa-arrow-alt-circle-left"></i> Voltar</button>
            </div>
        </div>
    </form>
</div>
